.github
.husky
.svelte-kit
build
node_modules
static
.eslintignore
.gitignore
.prettierignore
CONTRIBUTING.md
LICENSE
package.json
pnpm-lock.yaml
postcss.config.cjs
README.md
svelte.config.js
tailwind.config.cjs
tsconfig.json
.pnpm-store
