pre.demo {
	@apply text-white p-4 rounded-md overflow-x-auto;
	margin: 0;
	padding: 1rem;
	background-color: #24292e;
}

.svp-code-block-wrapper {
	@apply dark:bg-[#222222];
}

.conjure-label {
	@apply text-orange-500;
}

.conjure-wrapper {
	@apply my-3;
}

button {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #eaeaea;
}

.conjure-wrapper
	input:not([type='checkbox']):not([type='radio']):not([type='file']):not([type='color']):not([type='date']):not(
		[type='datetime-local']
	),
.conjure-wrapper select,
.conjure-wrapper textarea {
	@apply mt-1 w-full;
}

.conjure-wrapper input,
.conjure-wrapper select,
.conjure-wrapper textarea {
	@apply px-3 py-2 rounded-md sm:text-sm;
	@apply bg-transparent border shadow-sm border-slate-300 placeholder:text-neutral-500 text-white;

	@apply invalid:border-red-500 invalid:text-red-600;

	@apply disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;

	@apply focus:outline-none focus:border-orange-500 focus:ring-orange-500 focus:ring-offset-orange-500 focus:ring-1;
	@apply focus:invalid:border-red-500 focus:invalid:ring-red-500;
}

.demo-button {
	@apply bg-neutral-700 px-5 py-2 rounded text-white;
}

.content table .shiki {
	@apply px-1 py-0.75 rounded-md w-fit;
}

a.link > code,
a.link > pre,
a.link > div > pre {
	@apply border-b-1 border-orange-500;

	border-bottom-style: solid;
}

code.demo,
.dark code {
	background: #222222;
}

.stepper {
	@apply flex flex-col gap-2;
}

.stepper .stepper-header {
	@apply flex flex-row gap-4 items-center font-bold;
}

.stepper .stepper-number {
	@apply text-black bg-white rounded-md w-6 h-6 flex items-center justify-center text-xs;
}

.stepper .stepper-step {
	@apply flex flex-row gap-2 ml-3 pl-7 py-4;
}

.stepper .stepper-step:not(:last-child) {
	@apply border-l-2 border-neutral-800;
	border-left-style: solid;
}

.stepper .stepper-step > div {
	width: 50%;
}

html.dark body {
	background: #1a1a1a;
}

.dark aside.theme-default-sidebar {
	background-color: #131313 !important;
}

.attribute-table > table > tbody > tr > td:first-child > code {
	@apply text-violet-400;
}

.required {
	@apply text-orange-500;
}
